<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/de/shop2/guitars">Clothes</a>
      <a class="dropdown-item" href="/de/shop2/accessories">Shoes</a>
      <a class="dropdown-item" href="/de/shop2/others">Accessories</a>
    </div>
  </div>